@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: local("Montserrat"), url(../fonts/Montserrat-Light.woff2),
    url(../fonts/Montserrat-Light.woff);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat"), url(../fonts/Montserrat-Regular.woff2),
    url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"), url(../fonts/Montserrat-Medium.woff2),
    url(../fonts/Montserrat-Medium.woff);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"), url(../fonts/Montserrat-SemiBold.woff2),
    url(../fonts/Montserrat-SemiBold.woff);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("Montserrat"), url(../fonts/Montserrat-Bold.woff2),
    url(../fonts/Montserrat-Black.woff);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: local("Montserrat"), url(../fonts/Montserrat-ExtraBold.woff2),
    url(../fonts/Montserrat-ExtraBold.woff);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  font-size: inherit;
}
.btn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
body {
  overflow: overlay;
}
html{
  scrollbar-width: thin;
  scrollbar-color: #908e8e #ffffff;
}
body::-webkit-scrollbar{
  width: 5px;
  background-color: white;
}
body::-webkit-scrollbar-track{
  border-radius: 15px;
}
body::-webkit-scrollbar-thumb{
  border-radius: 15px;
  background-color: #908e8e;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1390px;
  box-sizing: border-box;
  padding: 0px 15px;
  margin: 0px auto;
}
.header {
  position: sticky;
  z-index: 101;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}
.pop-up {
  position: absolute;
  transform: translateY(-100%);
  z-index: 102;
  padding-top: 27.5px;
  height: 100vh;
  width: 100%;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}
.pop-up.is-active {
  transform: translateY(0);
}
.pop-up__container {
  display: flex;
}
.pop-up__burger-close {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url(../img/burger-close.svg);
  background-repeat: none;
  background-position: center center;
  transition: opacity 0.2s ease-in-out;
}
.pop-up__burger-close:hover {
  opacity: 0.8;
}
.pop-up__content {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop-up__logo {
  margin-bottom: 40px;
}
.pop-up__logo:hover .pop-up__logo-svg path {
  fill: #f41240;
}
.pop-up__nav-list {
  flex-direction: column;
  margin-bottom: 40px;
}
.pop-up__nav-item {
  text-align: center;
}
.pop-up__nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.pop-up__rutube-img path {
  transition: fill 0.2s ease-in-out;
}
.pop-up__rutube-img path:not(:last-child) {
  fill: #2d2d2d;
}
.pop-up__rutube:hover .pop-up__rutube-img path {
  fill: #f41240;
}
.header__inner {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__burger-open {
  display: none;
  height: 24px;
  width: 24px;
  background-image: url(../img/burger-open.svg);
  background-repeat: none;
  background-position: center center;
  transition: opacity 0.2s ease-in-out;
}
.header__burger-open:hover {
  opacity: 0.7;
}
.logo__svg {
  width: 128px;
  height: 29px;
}
.logo__svg path {
  transition: fill 0.2s ease-in-out;
}
.header__logo:hover .header__logo-svg path {
  fill: #f41240;
}
.nav {
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 32px;
}
.nav__link {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.nav__link:hover {
  color: #f41240;
}
.rutube__img {
  width: 50px;
  height: 50px;
}
.rutube__img-long {
}
.header__rutube {
  position: relative;
  width: 50px;
  height: 50px;
}
.rutube__container {
  width: 50px;
  top: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition-property: width, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.header__rutube:hover .rutube__container {
  width: 142px;
  opacity: 1;
}
.main {
}
.hero {
  position: relative;
  min-height: 782px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 33.42%
    ),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/noise.png), url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* .hero::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url(../img/noise.png);
}
.hero::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 33.42%),
  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ;
} */
.container {
}
.hero__inner {
  position: relative;
  padding-top: 162px;
  z-index: 1;
  padding-bottom: 35px;
}
.main-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  color: white;
}
.hero__main-title {
  text-align: center;
  margin-bottom: 188px;
}
.special-letter {
  position: relative;
}
.special-letter::after {
  content: "";
  width: 11px; /* ширина кружка */
  height: 11px; /* высота кружка */
  border-radius: 50%; /* радиус кружка */
  background-color: #dc0000; /* цвет кружка */
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.hero__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__box-inner {
  align-self: center;
}
.number {
  font-size: 33px;
  font-weight: 500;
  line-height: 49.5px;
  letter-spacing: 0.01em;
  color: white;
}
.special-numbers {
  color: #929292;
}
.hero__btn-container {
  justify-self: center;
}
.hero__btn-lit-container {
  display: none;
}
.hero__btn {
  border-radius: 50%;
  width: 73px;
  height: 73px;
  margin: 0px auto;
  padding: 0px;
  transition: background-color 0.2s ease-in-out;
}
.hero__btn-lit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px auto;
  padding: 0px;
  transition: background-color 0.2s ease-in-out;
}
.hero__btn:hover {
  background-color: white;
}
.hero__btn path {
  transition: stroke 0.2s ease-in-out;
}
.hero__btn:hover path {
  stroke: black;
}
.hero__btn-lit:hover {
  background-color: white;
}
.hero__btn-lit path {
  transition: stroke 0.2s ease-in-out;
}
.hero__btn-lit:hover path {
  stroke: black;
}
.mail {
  padding-left: 41px;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 27px;
  letter-spacing: 1%;
  transition: color 0.2s ease-in-out;
}
.mail:hover {
  color: #dc0000;
}
.hero__mail::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 22px;
  background-image: url(../img/letter.svg);
  background-size: cover;
  top: 0;
  left: 0;
}
.videos {
  padding-top: 100px;
}
.title {
  font-size: 18px;
  letter-spacing: 0.5em;
  text-align: center;
  color: rgba(21, 21, 21, 1);
  font-weight: 400;
}
.videos__title {
  margin-bottom: 70px;
}
.swiper__container-full {
  position: relative;
}
.swiper__container {
  height: 640px;
  position: relative;
  overflow: hidden;
}
.swiper {
  width: 1360px;
  height: 100%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  cursor: pointer;
  box-sizing: border-box;
  height: 500px;
  width: 845px;
  padding: 41px 40px;
  transition-duration: 0.3s;
  transition-property: height, padding;
  transition-timing-function: ease-in-out;
}
.swiper-slide__img {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  transition: height 0.3s ease-in-out;
}
.swiper-slide__img-border {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(244, 18, 64, 0.1);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 3px solid #f41240;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}
.swiper-slide:hover .swiper-slide__img-border {
  opacity: 1;
}
.swiper-slide-active {
  height: 100%;
  transition-duration: 0.3s;
  transition-property: height, padding;
  transition-timing-function: ease-in-out;
  padding: 20px 40px;
}
.swiper-slide-active .swiper-slide__img {
  height: 550px;
}
.swiper-slide-active .swiper-slide__img-border {
  height: 550px;
}
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  transform: scale(0) !important;
}
.swiper__container-buttons {
  top: 570px;
  width: 100%;
  position: absolute;
  max-width: 400px;
  display: flex;
  height: 70px;
  right: 10%;
}
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 59px;
  transform: translateY(-12px);
}
.swiper-button-prev::after {
  content: "";
  width: 59px;
  height: 50px;
  -webkit-mask-image: url(../img/arrowLeft.svg);
  mask-image: url(../img/arrowLeft.svg);
  background-color: #151515;
  transition: background-color 0.2s ease-in-out;
}
.swiper-button-next::after {
  content: "";
  width: 59px;
  height: 50px;
  -webkit-mask-image: url(../img/arrowRight.svg);
  mask-image: url(../img/arrowRight.svg);
  background-color: #151515;
  transition: background-color 0.2s ease-in-out;
}
.swiper-button-next:hover::after {
  background-color: #dc0000;
}
.swiper-button-prev:hover::after {
  background-color: #dc0000;
}

.swiper-pagination {
  height: 100%;
  width: 100% !important;
  display: flex;
  align-items: center;
}
.swiper-pagination-bullet {
  border-radius: 50%;
  border: 1px solid #828282;
  width: 18px;
  opacity: 1;
  height: 18px;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition-behavior: normal, normal, normal;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  transition-property: transform, left, border;
}
.swiper-pagination-bullet:hover {
  border: 1px solid #dc0000;
}
.swiper-pagination-bullet-active:hover {
  border: 0;
}
.swiper-pagination-bullet-active {
  border: 0;
  width: 20px;
  height: 20px;
}
.swiper-button-prev {
  z-index: 100;
}
:root {
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-theme-color: rgba(220, 0, 0, 1);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0px;
  margin: 0px 15px;
}
.swiper-slide__content {
  position: relative;
  top: calc(100% - 50px - 130px);
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.swiper-slide__box {
  display: flex;
  align-items: center;
}
.swiper-slide__name {
  font-size: 26px;
  color: white;
  margin-right: 25px;
  transition: color 0.2s ease-in-out;
}
.swiper-slide-active:hover .swiper-slide__name {
  color: #dc0000;
}
.swiper-slide-active:hover .swiper-slide__svg path {
  stroke: #dc0000;
}
.swiper-slide:hover .swiper-slide__svg {
  transform: rotate(45deg);
}
.swiper-slide__svg {
  transform: translateY(-1px);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.swiper-slide-active .swiper-slide__name {
  color: black;
  transition: color 0.2s ease-in-out;
}
.swiper-slide-active .swiper-slide__svg path {
  stroke: black;
  transition: stroke 0.2s ease-in-out;
}
.swiper-slide__button {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transition: top 0.3s ease-in-out;
}
.swiper-slide__play {
  width: 199px;
  height: 199px;
  position: absolute;
  top: calc(-69px / 2);
  left: calc(-69px / 2);
  transition-property: top, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
}
.swiper-slide__play_none_hov {
  background-image: url(../img/Play.svg);
}
.swiper-slide__play_hov {
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  background-image: url(../img/Play\ hov.svg);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.swiper-slide:hover .swiper-slide__play_hov {
  opacity: 1;
}
.swiper-slide:hover .swiper-slide__play_none_hov {
  opacity: 0;
}
.swiper-slide-active .swiper-slide__button {
  top: calc(50% - 50px);
}
.videos__rutube {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.videos__rutube-img {
}
.videos__rutube-long-img {
  position: absolute;
  opacity: 0;
  left: 0;
  z-index: -1;
}
.swiper-slide:hover .videos__rutube {
  width: 142px;
  overflow: visible;
}
.swiper-slide:hover .videos__rutube-long-img {
  opacity: 1;
}
.swiper-slide:hover .videos__rutube-img {
  opacity: 0;
}
.visual {
  padding-top: 36px;
}
.visual__img {
  width: 100%;
}
.services {
  padding-top: 108px;
  padding-bottom: 100px;
}
.services__title {
  margin-bottom: 30px;
}
.services__cards {
  padding-left: 165px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 195px;
}
.services__card {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  position: relative;
  padding-top: 40px;
}
.right-col {
  margin-top: 185px;
}
.services__card:not(:last-child) {
  margin-bottom: 70px;
}
.services__subtitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
  margin-bottom: 40px;
}
.services__line {
  background-image: url(../img/Line.svg);
  position: absolute;
  width: 82.5px;
  height: 2px;
  top: 0px;
  left: 0;
}
.services__img {
  width: 100%;
  height: 306px;
  object-fit: cover;
  margin-bottom: 40px;
}
.services__content-text {
  line-height: 25.2px;
  margin-bottom: 40px;
}
.services__text {
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #dc0000;
}
.services__list {
  margin-bottom: 40px;
}
.services__item {
  position: relative;
  line-height: 17px;
  font-weight: 500;
  padding: 20px 21px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}
.services__item:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.services__item::before {
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}
.services__item:last-child::before {
  top: calc(50% + 10px - 2px);
}
.about {
  background-color: #f3f3f3;
  padding: 70px 0px;
}
.about__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.about__text {
  box-sizing: border-box;
  padding-right: 30px;
  max-width: 700px;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
}
.about__text-description {
  box-sizing: border-box;
  max-width: 515px;
  font-size: 18px;
  line-height: 30.6px;
}
.about__title {
  margin-bottom: 70px;
}
.title_color_gray {
  color: #868686;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}
.about__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  border-radius: 30px;
  background-color: white;
  padding: 40px 40px;
}
.about__item-text {
  font-size: 20px;
  text-align: center;
}
.about__item-num {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  line-height: 77px;
  color: #dc0000;
  margin-bottom: 12px;
}
.partners {
  padding: 100px 0px;
}
.partners__title {
  margin-bottom: 70px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__item {
}
.partners__img {
}
.footer {
  padding: 70px 0px 63px 0px;
  background-color: #151515;
}
.footer__title {
  margin-bottom: 70px;
}
.title_color_white {
  color: #f8f8f8;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer__map {
  width: 600px;
  min-height: 100%;
}
.footer__form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer__label {
  color: #f8f8f8;
  letter-spacing: 0.1em;
}
.footer__form-item {
  position: relative;
  width: 273.5px;
  padding: 20px 0px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #7a7a7a;
  background-color: #151515;
  outline: none;
  border: 0;
  margin-bottom: 70px;
  border-bottom: 1px solid #2d2d2d;
  transition: border 0.2s ease-in-out;
}

.footer__form-item_height_bigger {
  min-height: 61px;
  resize: none;
}
.footer__form-item:focus {
  border-bottom: 1px solid #f8f8f8;
}
.just-validate-error-label {
  position: absolute;
  top: 100px;
}
.just-validate-error-label:last-child {
  top: 250px;
}
.footer__subtitle {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.footer__info-item {
  display: block;
  color: #b9b9b9;
  font-style: normal;
  margin-bottom: 45px;
  max-width: 226px;
}

.footer__button {
  position: relative;
  width: max-content;
  padding: 13px 53px 13px 36px ;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: #dc0000;
  border-radius: 50px;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition-property: background-color, outline;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out;
}
.footer__button:hover {
  background-color: rgba(0, 0, 0, 0);
  outline: 1px solid #dc0000;
}
.footer__button:hover .footer__button-text {
  color: #dc0000;
}
.footer__button:hover .footer__arrow path {
  stroke: #dc0000;
}
.footer__button-text {
  display: inline-block;
  color: #f2f2f2;
  vertical-align: top;
  line-height: 1.5;
  margin-right: 7px;
  transition: color 0.2s ease-in-out;
}
.footer__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.footer__arrow path {
  transition: stroke 0.2s ease-in-out;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  border-top: 1px solid #2d2d2d;
}
.nav__link_color_white {
  color: #f2f2f2;
}
.footer__logo-svg path:nth-child(2) {
  fill: white;
}
.footer__logo:hover .footer__logo-svg path {
  fill: #dc0000;
}
.footer__nav-link {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.nav__link_hover_color:hover {
  color: #dc0000;
}
.footer__rutube {
  height: 18px;
}
.footer__rutube-img path {
  transition: fill 0.2s ease-in-out;
}
.footer__rutube:hover .footer__rutube-img path {
  fill: #dc0000;
}
@media (max-width: 1540px) {
  .swiper__container-buttons {
    right: 0%;
  }
}
@media (max-width: 1300px) {
  .swiper__container-buttons {
    left: 422.5px;
    transform: translate(-50%, -2px);
    max-width: 350px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0px calc(100% / 8 / 2 - 9px);
  }
  .swiper-slide-active {
    height: 550px;
  }
  .swiper-slide-active .swiper-slide__button {
    top: calc(50%);
  }
  .swiper-slide-active .swiper-slide__name {
    color: white;
  }
  .swiper-slide-active .swiper-slide__svg path {
    stroke: white;
  }
  .swiper-slide-active:hover .swiper-slide__name {
    color: white;
  }
  .swiper-slide-active:hover .swiper-slide__svg path {
    stroke: white;
  }
  .swiper-pagination-bullet {
    position: absolute;
  }
  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet-active-main {
    display: block;
    width: 14px;
    height: 14px;
  }
  .swiper-button-prev::after {
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
    width: 45px;
    height: 25px;
  }
  .swiper-button-next::after {
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
    width: 45px;
    height: 25px;
  }
}
@media (max-width: 1200px) {
  .footer__map {
    width: 400px;
  }
}
@media (max-width: 1100px) {
  .partners__list {
    flex-direction: column;
  }
  .partners__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .hero__mail-container {
    justify-self: end;
  }
  .swiper {
    width: 100%;
  }
  .swiper-slide,
  .swiper-slide-active {
    width: 100%;
  }
  .swiper__container-buttons {
    left: 50%;
  }
  .services__cards {
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: 1fr;
  }
  .left-col {
    margin-bottom: 70px;
  }
  .right-col {
    margin-top: 0px;
  }
  .services__text {
    text-align: center;
  }
  .footer__form-item {
    width: 140px;
  }
  .just-validate-error-label {
    font-size: 12px;
    top: 95px;
  }
  .just-validate-error-label:last-child {
    top: 245px;
  }
}
@media (max-width: 910px) {
  .hero__main-title {
    margin-bottom: 50px;
  }
  .hero__box {
    grid-template-columns: 1fr;
  }
  .hero__box-inner {
    justify-self: center;
  }
  .hero__box-inner {
    margin-bottom: 30px;
  }
  .hero__btn-container {
    order: 2;
    margin-bottom: 0px;
  }
  .about__list {
    grid-template-columns: 1fr;
  }
  .about__item {
    min-height: 300px;
  }
  .footer__top {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .footer__form {
    order: 3;
    margin-bottom: 45px;
  }
  .footer__map {
    order: 2;
    width: 100%;
    height: 400px;
    margin-bottom: 45px;
  }
  .footer__info-item {
    max-width: none;
  }
  .footer__form-item-last {
    margin-bottom: 45px;
  }
  .visual__img {
    width: 200%;
  }
}
@media (max-width: 820px) {
  .header__nav {
    display: none;
  }
  .header__burger-open {
    display: flex;
  }
  .header__logo {
    transform: translateX(calc(-24px + 50px));
  }
  .hero {
    min-height: 0px;
  }
  .hero__main-title {
    margin-bottom: 100px;
  }
  .hero__inner {
    padding-top: 100px;
  }
  .main-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: white;
  }
  .special-letter::after {
    width: 9px;
    height: 9px;
  }
  .title {
    font-size: 16px;
  }
  .videos {
    margin-bottom: 90px;
  }
  .swiper__container {
    height: 400px;
  }
  .swiper-slide__img {
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide,
  .swiper-slide__img-border {
    height: 400px;
  }
  .swiper-slide-active .swiper-slide__img {
    height: 400px;
  }
  .swiper-slide-active .swiper-slide__img-border {
    height: 400px;
    object-fit: cover;
  }
  .swiper__container-buttons {
    max-width: 100%;
    top: 410px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0px calc(100% / 8 / 2 - 9px);
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__nav {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .about__text {
    font-size: 40px;
    line-height: 1.5;
  }
  .about__text-description {
    font-size: 15px;
    line-height: 1.5;
  }
}
@media (max-width: 560px) {
  .footer__nav-list {
    flex-direction: column;
  }
  .footer__nav-item {
    text-align: center;
  }
  .footer__nav-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .hero__btn-container {
    display: none;
  }
  .hero__btn-lit-container {
    display: block;
  }
}
@media (max-width: 500px) {
  .header__inner {
    min-height: 72px;
  }
  .header__logo {
    width: 122px;
    transform: translateX(calc(-24px + 40px));
    height: 24px;
  }
  .pop-up.is-active {
    padding-top: 24px;
  }
  .pop-up__logo {
    transform: translateX(-3px);
    width: 122px;
    height: 24px;
  }
  .logo__svg {
    height: 24px;
  }
  .header__rutube {
    width: 40px;
    height: 40px;
  }
  .rutube__container {
    height: 40px;
  }
  .rutube__img {
    width: 40px;
    height: 40px;
  }
  .rutube__img-long {
    height: 40px;
  }
  .main-title {
    font-size: 25px;
    line-height: 1.3;
  }
  .hero__main-title {
    margin-bottom: 54px;
  }
  .hero__inner {
    padding-top: 58px;
  }
  .special-letter::after {
    width: 6px;
    height: 6px;
    top: 14%;
    left: 51%;
  }
  .number {
    font-size: 19px;
  }
  .hero__box-inner {
    margin-bottom: 6px;
  }
  .mail {
    font-size: 14px;
  }
  .hero__mail::before {
    height: 16px;
    width: 21px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .title {
    font-size: 15px;
    margin-bottom: 36px;
  }
  .videos {
    padding-top: 36px;
  }
  .swiper__container {
    height: 283px;
  }
  .swiper-slide,
  .swiper-slide__img-border {
    height: 283px;
  }
  .swiper-slide-active .swiper-slide__img {
    height: 283px;
  }
  .swiper-slide-active .swiper-slide__img-border {
    height: 283px;
  }
  .swiper-slide__button {
    width: 99px;
    height: 99px;
  }
  .swiper-slide__play {
    background-size: cover;
    width: calc(56px + 99px);
    height: calc(56px + 99px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-slide__play_hov {
    background-size: cover;
    width: 99px;
    height: 99px;
  }
  .swiper-slide__name {
    font-size: 16px;
  }
  .swiper-slide__svg {
    width: 9px;
    height: 9px;
  }
  .swiper-slide,
  .swiper-slide-active {
    padding: 25px 15px;
  }
  .swiper-slide__content {
    top: calc(100% - 99px);
    transform: translateY(-100%);
  }
  .videos__rutube {
    height: 30px;
  }
  .videos__rutube-img {
    height: 30px;
  }
  .videos__rutube-long-img {
    height: 30px;
  }
  .swiper-slide:hover .videos__rutube {
    width: 86px;
  }
  .swiper-button-prev::after {
    width: 40px;
    height: 40px;
  }
  .swiper-button-next::after {
    width: 40px;
    height: 40px;
  }
  .swiper__container-buttons {
    top: calc(100% + 25px);
  }
  .visual {
    padding-top: 30px;
  }
  .services {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .services__card {
    padding-top: 25px;
  }
  .services__subtitle {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
  .services__img {
    margin-bottom: 25px;
  }
  .services__content-text {
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 15px;
  }
  .services__text {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
  }
  .services__card:not(:last-child) {
    margin-bottom: 40px;
  }
  .left-col {
    margin-bottom: 40px;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about__inner {
    display: flex;
    flex-direction: column;
  }
  .about__box {
    order: 2;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .about__text {
    font-size: 25px;
  }
  .about__text-description {
    font-size: 15px;
  }
  .about__title {
    order: 1;
    margin-bottom: 25px;
  }
  .about__list {
    order: 3;
  }
  .about__item {
    min-height: 174px;
    padding: 42px 20px;
  }
  .about__item-text {
    font-size: 16px;
  }
  .about__item-num {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 12px;
  }
  .partners{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer{
    padding-top:40px ;
    padding-bottom: 40px;
  }
  .footer__subtitle{
    font-size: 13px;
    margin-bottom: 15px;
  }
  .footer__info-item{
    margin-bottom: 25px;
    font-size: 12px;
  }
  .footer__map{
    height: 345px;
    margin-bottom: 40px;
  }
  .footer__form-item{
    font-size: 12px;
    width: 100%;
    margin-bottom: 40px;
  }
  .just-validate-error-label {
    font-size: 12px;
    top: 93px;
  }
  .just-validate-error-label:last-child {
    top: 212px;
  }
  .footer__button{
    width: 100%;
  }
  .footer__bottom{
    padding-top: 40px;
  }
}
@media (max-width:400px){
  .footer__button{
    font-size: 13px;
    padding: 13px 36px;
  }
  .footer__arrow svg{
    width: 14px;
    height: 11px;
  }
  .just-validate-error-label:last-child {
    top: 203px;
  }
}
@media (max-width: 360px){
  .just-validate-error-label {
    top: 84px;
  }

}

